@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --black: #000000;
  --white: #FFFFFF;
  --bgColor: #FFFFFF;
  --greenBCKG: #C0EEC0;
  --green: #00bb00;
  --headPadding: 5vw;
  --sidePadding: 10vw;
}
@media (prefers-color-scheme: dark) {
  :root {
    --black: #FFFFFF;
    --white: #000000;
    --bgColor: #212121;
    --greenBCKG: #3e563e;
    --green: #00AA00;
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  :root {
    --headPadding: 2.5vw;
    --sidePadding: 5vw;
  }
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--bgColor);
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--black);
  overflow-x: hidden;
  overflow-y: hidden;
}

.link:hover {
  cursor: pointer;
}

i {
  font-style: italic;
}

b {
  font-weight: 900;
}

u {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 8px;
  text-decoration-color: var(--greenBCKG);
}

q {
  color: var(--green);
  font-weight: 700;
}

.green {
  background: var(--greenBCKG);
}

.bodybckgtxt {
  position: absolute;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  background: var(--greenBCKG);
}
.bodybckgtxt span svg {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  fill: var(--black);
  opacity: 0.15;
  pointer-events: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  background: none;
}

.header_logo {
  position: relative;
  margin: 1rem var(--headPadding);
  background: none;
}
.header_logo svg {
  height: 1.6rem;
  fill: var(--black);
}
.header_logo .isolate {
  isolation: isolate;
}
.header_logo-ls {
  display: block;
}
@media (orientation: portrait) and (max-width: 767px) {
  .header_logo-ls {
    display: none;
  }
}
.header_logo-pt {
  display: none;
}
@media (orientation: portrait) and (max-width: 767px) {
  .header_logo-pt {
    display: block;
  }
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
}

.nav_items {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
}
@media (orientation: landscape), (orientation: portrait) and (min-width: 768px) {
  .nav_items {
    margin: 1rem var(--headPadding);
  }
  .nav_items ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .nav_items ul li {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    letter-spacing: -0.1rem;
    font-weight: 900;
    color: var(--black);
  }
  .nav_items ul li ::after {
    content: "";
    margin-left: 0.2rem;
  }
  .nav_items ul li button {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    letter-spacing: -0.1rem;
    font-weight: 600;
    color: var(--black);
    border: 0;
    background: transparent;
  }
  .nav_items ul li button ::after {
    content: "";
  }
}
@media (orientation: portrait) and (max-width: 767px) {
  .nav_items {
    width: 0;
    height: 100dvh;
    margin: 0 0 auto auto;
    background: var(--greenBCKG);
    display: none;
  }
  .nav_items ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav_items ul li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22vw;
    letter-spacing: -0.5vw;
    font-weight: 900;
    color: var(--black);
  }
  .nav_items ul li button {
    margin: 0;
    padding: 0;
    font-size: 10vw;
    letter-spacing: -0.5vw;
    font-weight: 600;
    color: var(--black);
    border: 0;
    background: transparent;
  }
}
.nav_button {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 0;
  right: 0;
  margin: 1rem var(--headPadding);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  visibility: hidden;
}
@media (orientation: portrait) and (max-width: 767px) {
  .nav_button {
    visibility: visible;
  }
}
.nav_button button {
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 0;
}
.nav_button button svg {
  width: 26px;
  height: 26px;
  fill: none;
  stroke: var(--black);
  margin: 0 auto;
  stroke-linecap: square;
  stroke-width: 5px;
  pointer-events: none;
}
.nav_button button svg #end {
  display: none;
}

main {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.main__section-home {
  height: 100dvh;
  display: flex;
  justify-content: center;
}
.main__section-home .home_heading {
  width: 100%;
  height: 100%;
  padding-left: var(--sidePadding);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.main__section-home .home_heading .home_h1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-flow: row nowrap;
}
.main__section-home .home_heading .home_h1 span {
  font-size: 6rem;
  letter-spacing: -0.15rem;
}
.main__section-home .home_heading .home_h1 span span div {
  margin-left: 0;
}
.main__section-home .home_heading .home_h1 span span:nth-child(1) {
  font-weight: 400 !important;
}
.main__section-home .home_heading .home_h1 span span:nth-child(2) {
  font-weight: 800 !important;
}
.main__section-home .home_heading .home_h1 span span:nth-child(3) {
  font-weight: 100 !important;
}
.main__section-home .home_heading .home_h1 span span:nth-child(4) {
  font-weight: 600 !important;
}
.main__section-home .home_heading .home_h1 span > span {
  display: inline-flex;
}
.main__section-home .home_heading .home_p {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
}
.main__section-home .home_heading .home_p span {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
}
@media (orientation: portrait) {
  .main__section-home .home_heading .home_p span {
    flex-flow: row wrap;
  }
}
.main__section-home .home_heading .home_p span div {
  margin-left: 0;
}
.main__section-home .home_heading .home_p span div::after {
  content: " ";
}
.main__section-home .home_heading .home_p span > span {
  display: inline-flex;
}
.main__section-works {
  height: 100dvh;
  display: none;
}
.main__section-behind {
  height: 100dvh;
  display: none;
}
.main__section-about {
  display: none;
}

.section_upper {
  height: 0vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  background: transparent;
}
.section_upper div {
  position: relative;
}
.section_upper div ::before {
  display: inline-block;
  height: 100%;
  content: "";
}
.section_upper div span {
  font-size: 12vw;
  font-weight: 900;
  letter-spacing: -0.5vw;
  vertical-align: baseline;
  color: var(--bgColor);
}
.section_bottom {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  background: var(--bgColor);
}
.section_sect {
  width: 50%;
  height: 60vh;
  overflow: hidden;
}
.section_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.section_heading {
  font-size: 2rem;
  letter-spacing: -0.075rem;
  font-weight: 800;
  text-transform: uppercase;
}
.section_img {
  position: relative;
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.section_img img {
  height: 100%;
  background-size: contain;
}
.section_details {
  color: var(--white);
}

.swiper {
  --slide-w: 100%;
  --gap: 0;
}
.swiper-works, .swiper-behind {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  touch-action: pan-y;
}
.swiper-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
  gap: var(--gap);
  padding-inline: calc(var(--gap) / 2);
  will-change: transform, opacity, visibility;
}
.swiper-slide {
  flex: 0 0 var(--slide-w);
  width: var(--slide-w);
  height: 100%;
  position: relative;
  display: flex;
  transform: translateZ(0);
  will-change: transform, opacity, visibility;
  visibility: hidden;
}

.works_sect,
.behind_sect {
  position: relative;
  height: 100%;
  display: flex;
}
.works_content,
.behind_content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.works_content:hover .works_img img, .works_content:hover .behind_img img,
.behind_content:hover .works_img img,
.behind_content:hover .behind_img img {
  filter: grayscale(0%) opacity(100%);
  transform: scale(1.03);
}
.works_heading,
.behind_heading {
  order: 1;
  width: auto;
  padding: 0.25rem 0.4rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background: var(--bgColor);
  z-index: 1;
}
.works_heading span,
.behind_heading span {
  color: var(--black);
  font-size: 2.6rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.15rem;
}
.works_details,
.behind_details {
  order: 3;
  max-width: 80%;
  padding: 0.25rem 0.4rem;
  background: var(--bgColor);
  z-index: 1;
}
.works_details span,
.behind_details span {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
  letter-spacing: -0.035rem;
}
.works_img,
.behind_img {
  order: 2;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.works_img img,
.behind_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%) opacity(50%);
  transition: filter 0.25s ease-in-out, transform 0.5s ease-in-out;
}

.show_works,
.show_behind {
  position: fixed;
  display: none;
  inset: 0;
}

.show_works,
.show_behind,
.show_about {
  background: var(--bgColor);
  z-index: 99;
}
.show_works-wrapper,
.show_behind-wrapper,
.show_about-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.show_works-upper,
.show_behind-upper,
.show_about-upper {
  flex: 0 0 30vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  background: var(--greenBCKG);
}
@media (orientation: portrait) {
  .show_works-upper,
  .show_behind-upper,
  .show_about-upper {
    flex: 0 0 20vh;
  }
}
.show_works-upper div:nth-child(1),
.show_behind-upper div:nth-child(1),
.show_about-upper div:nth-child(1) {
  position: relative;
}
.show_works-upper div:nth-child(1) ::before,
.show_behind-upper div:nth-child(1) ::before,
.show_about-upper div:nth-child(1) ::before {
  display: inline-block;
  height: 100%;
  content: "";
}
.show_works-upper div:nth-child(1) span,
.show_behind-upper div:nth-child(1) span,
.show_about-upper div:nth-child(1) span {
  font-size: 12vw;
  font-weight: 900;
  letter-spacing: -0.5vw;
  vertical-align: baseline;
  text-transform: uppercase;
  color: var(--bgColor);
}
.show_works-bottom,
.show_behind-bottom,
.show_about-bottom {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bgColor);
}
.show_works-img-hero,
.show_behind-img-hero,
.show_about-img-hero {
  position: relative;
  width: 100%;
  height: auto;
}
.show_works-img-hero img,
.show_behind-img-hero img,
.show_about-img-hero img {
  width: 100%;
  height: auto;
  display: block;
}
.show_works-txt,
.show_behind-txt,
.show_about-txt {
  width: 100%;
  padding-right: var(--sidePadding);
  padding-left: var(--sidePadding);
}
.show_works-txt-tags,
.show_behind-txt-tags,
.show_about-txt-tags {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
  font-weight: 100;
  line-height: 1.4;
}
.show_works-txt-tags span:nth-child(2)::after,
.show_behind-txt-tags span:nth-child(2)::after,
.show_about-txt-tags span:nth-child(2)::after {
  margin: 0 0.5rem;
  content: "|";
}
.show_works-txt-tags span:nth-child(2)::before,
.show_behind-txt-tags span:nth-child(2)::before,
.show_about-txt-tags span:nth-child(2)::before {
  margin: 0 0.5rem;
  content: "|";
}
.show_works-txt-lead1,
.show_behind-txt-lead1,
.show_about-txt-lead1 {
  margin-top: 6rem;
  margin-bottom: 0;
  font-size: 3.2rem;
  letter-spacing: -0.15rem;
  font-weight: 900;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}
.show_works-txt-lead2,
.show_behind-txt-lead2,
.show_about-txt-lead2 {
  margin-top: 0;
  margin-bottom: 6rem;
  font-size: 2.2rem;
  letter-spacing: -0.1rem;
  font-weight: 500;
  text-transform: uppercase;
}
.show_works-txt-p,
.show_behind-txt-p,
.show_about-txt-p {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  line-height: 2;
}
@media (orientation: portrait) and (max-width: 767px) {
  .show_works-txt-p,
  .show_behind-txt-p,
  .show_about-txt-p {
    line-height: 1.4;
  }
}
.show_works-txt-motto,
.show_behind-txt-motto,
.show_about-txt-motto {
  margin-top: 6rem;
  margin-bottom: 6rem;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 300;
  font-style: italic;
  line-height: 2;
}
@media (orientation: portrait) and (max-width: 767px) {
  .show_works-txt-motto,
  .show_behind-txt-motto,
  .show_about-txt-motto {
    line-height: 1.4;
  }
}
.show_works-txt-motto::first-letter,
.show_behind-txt-motto::first-letter,
.show_about-txt-motto::first-letter {
  font-size: 3rem;
  font-weight: 100;
  font-style: normal;
  color: var(--greenBCKG);
  margin-top: -1rem;
  margin-right: -1rem;
  line-height: 0;
}
.show_works-img-cont,
.show_behind-img-cont,
.show_about-img-cont {
  width: 100%;
  padding-right: var(--sidePadding);
  padding-left: var(--sidePadding);
}
@media (orientation: portrait) and (max-width: 767px) {
  .show_works-img-cont,
  .show_behind-img-cont,
  .show_about-img-cont {
    padding-right: 0;
    padding-left: 0;
  }
}
.show_works .firstItem,
.show_behind .firstItem,
.show_about .firstItem {
  visibility: hidden;
}
.show_works-img,
.show_behind-img,
.show_about-img {
  position: relative;
  width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.show_works-img figure,
.show_behind-img figure,
.show_about-img figure {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.show_works-img figure img,
.show_behind-img figure img,
.show_about-img figure img {
  width: 100%;
}
.show_works-img figcaption,
.show_behind-img figcaption,
.show_about-img figcaption {
  width: auto;
  padding: 0.5rem 0;
  background: var(--greenBCKG);
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
  color: var(--black);
  font-size: 0.75rem;
  line-height: normal;
  text-align: center;
}
@media (orientation: portrait) and (max-width: 767px) {
  .show_works-img figcaption,
  .show_behind-img figcaption,
  .show_about-img figcaption {
    background: none;
  }
}
.show_works-footer,
.show_behind-footer,
.show_about-footer {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: var(--bgColor);
}
.show_works-footer div,
.show_behind-footer div,
.show_about-footer div {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.show_works-footer div span,
.show_behind-footer div span,
.show_about-footer div span {
  font-size: 2rem;
  letter-spacing: -0.075rem;
  font-weight: 500;
  text-transform: uppercase;
}
.show_works-footer div span svg,
.show_behind-footer div span svg,
.show_about-footer div span svg {
  width: 26px;
  height: 26px;
  fill: none;
  stroke: var(--black);
  margin: 0 auto;
  stroke-linecap: square;
  stroke-width: 5px;
  pointer-events: none;
}
.show_works-footer div span .svgUp,
.show_behind-footer div span .svgUp,
.show_about-footer div span .svgUp {
  transform: rotate(90deg);
}
.show_works-footer div span .svg180,
.show_behind-footer div span .svg180,
.show_about-footer div span .svg180 {
  transform: rotate(180deg);
}
.show_works-footer-prev,
.show_behind-footer-prev,
.show_about-footer-prev {
  flex: 1;
  display: flex;
  padding-left: var(--sidePadding);
}
.show_works-footer-top,
.show_behind-footer-top,
.show_about-footer-top {
  flex: 1;
  text-align: center;
}
.show_works-footer-next,
.show_behind-footer-next,
.show_about-footer-next {
  flex: 1;
  padding-right: var(--sidePadding);
  text-align: right;
}/*# sourceMappingURL=style.css.map */