@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

@mixin font-default {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@mixin font-mono {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

@mixin word-wrap-hyp {
    word-wrap: break-word;
    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

@mixin fluid-font($min-font, $max-font, $min-vw: 320, $max-vw: 3840) {
    font-size: clamp(#{$min-font}px,
        calc(#{$min-font}px + (#{$max-font} - #{$min-font}) * ((100dvw - #{$min-vw}px) / (#{$max-vw} - #{$min-vw}))),
        #{$max-font}px);
}

:root {
    --unit-100vh: 100vh;
    --black: #000000;
    --white: #FFFFFF;
    --grey-md: #7F7F7F;
    --bgColor: #FFFFFF;
    --menuBG: #D0D0D0;

    @media (prefers-color-scheme: dark) {
        --black: #FFFFFF;
        --white: #000000;
        --grey-md: #7F7F7F;
        --bgColor: #212121;
        --menuBG: #222222;
    }
}

* {
    box-sizing: border-box;
    //user-select: none;
}

body {
    height: 100dvh;
    margin: 0;
    padding: 0;
    background-color: var(--bgColor);
    @include font-default();
    color: var(--black);
    overflow-x: hidden;
    overflow-y: auto;
}

@mixin fluid-type($min-size, $fluid-size, $max-size, $min-ls: null, $max-ls: null) {
    font-size: clamp(#{$min-size}, #{$fluid-size}, #{$max-size});

    @if $min-ls !=null and $max-ls !=null {
        letter-spacing: clamp(#{$min-ls},
            calc(#{$fluid-size} * #{($max-ls / strip-unit($max-size))}),
            #{$max-ls});
    }
}

$headings: (
    h1: (min: 2rem, fluid: 4vw, max: 4rem),
    h2: (min: 1.75rem, fluid: 3.5vw, max: 3rem),
    h3: (min: 1.5rem, fluid: 3vw, max: 2.5rem),
    h4: (min: 1.25rem, fluid: 2.5vw, max: 2rem),
    h5: (min: 1rem, fluid: 2vw, max: 1.5rem),
    h6: (min: 0.875rem, fluid: 1.5vw, max: 1.25rem)
);

@each $tag, $sizes in $headings {
    #{$tag} {
        @include fluid-type(map-get($sizes, min),
            map-get($sizes, fluid),
            map-get($sizes, max),
            -0.4rem, // min letter-spacing for small text
            -1rem // max negative spacing for large headings
        );
        line-height: 1;
        //margin-bottom: 1rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 * {
    will-change: transform;
    will-change: filter;
}

a {
    text-decoration: none;
    color: var(--black);
}

p {
    @include font-mono();
    line-height: 1.6rem;
    font-weight: 300;
}

i {
    font-style: italic;
}

mark {
    padding: 0 0.2rem;
    font-weight: bolder;
}

.link {
    pointer-events: all;
    cursor: pointer;
}

nav,
main {
    width: 100%;
    height: 100dvh;
}

main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#main {
    &__section-home {
        visibility: visible;
    }

    &__section-works {
        visibility: hidden;
    }

    &__section-about {
        visibility: hidden;
        overflow-y: auto !important;
    }
}

// PRELOAD ANIMATION
.preLoader {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    position: fixed;
    background-color: var(--bgColor);
    visibility: hidden;
}

/* HEADER */
header {
    position: fixed;
    width: calc(100% - 2rem);
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    a {
        padding: 0.1rem 0.25rem 0.2rem 0.25rem;
        font-size: 2rem;
        font-weight: 800;
        border: thin solid var(--black);
    }

    div {
        position: relative;
        width: 26px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu__button,
    .back__button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 0;
    }

    .menu__button-svg,
    .back__button-svg {
        width: 26px;
        height: 26px;
        fill: none;
        stroke: var(--black);
        margin: 0 auto;
        stroke-linecap: square;
        stroke-width: 5px;

        #end {
            display: none;
        }
    }

    .backButton {
        visibility: hidden;
    }

    .back__button-svg {
        transition: all 0.25s ease-in-out;

        &:hover {
            transform: rotate(45deg) scale(0.8);
            transition: all 0.25s ease-in-out;
        }
    }

}

/* NAV */
nav {
    position: fixed;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    z-index: 5;

    .menu__content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background: var(--menuBG);
        overflow: hidden;

        div {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: auto 0;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                flex: 0 0 30%;
            }

            &:nth-child(4),
            &:nth-child(5) {
                flex: 0 0 10%;
            }
        }

    }

    .navPage {
        @include fluid-font(64, 768);
        white-space: nowrap;
        font-weight: 800;
    }

    .navLang {
        font-weight: 500;
        @include fluid-font(16, 48);

        &-buttons {
            @include fluid-font(16, 48);
            border: 0;
            margin: 0 1rem;
            background: none;
            color: var(--black);
            transition: color 0.25s ease;
        }

        &-buttons:hover {
            color: var(--color1);
            transition: color 0.25s ease;
        }

        &-buttons.active {
            color: var(--color2);
        }
    }

}

/* HOME */
#main__section-home {

    section {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .home__heading {
            width: calc(100% - 2rem);
            height: 100%;
            margin-left: 2rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            visibility: hidden;

            @media (orientation: portrait) {
                width: calc(100% - 1rem);
                margin-left: 1rem;
            }

            .home__h1 {
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                flex-flow: row nowrap;

                h1 {
                    font-size: 6rem;
                    letter-spacing: -0.15rem;

                    span {
                        div {
                            margin-left: 0;
                        }
                    }

                    span:nth-child(1) {
                        font-weight: 400 !important;
                    }

                    span:nth-child(2) {
                        font-weight: 800 !important;
                    }

                    span:nth-child(3) {
                        font-weight: 100 !important;
                    }

                    span:nth-child(4) {
                        font-weight: 600 !important;
                    }
                }

                h1>span {
                    display: inline-flex;
                }
            }

            .home__p {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-flow: row nowrap;

                p {
                    display: inline-flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-flow: row nowrap;

                    @media (orientation: portrait) {
                        flex-flow: row wrap;
                    }

                    div {
                        margin-left: 0;

                        &::after {
                            content: "\00a0";
                        }
                    }
                }

                p>span {
                    display: inline-flex;
                }

            }
        }

    }
}

/* WORKS */
.ps__sect {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    visibility: hidden;

    .ps__outer,
    .ps__inner {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
    }

    .ps__cont,
    .ps__cont-first {
        height: 100%;
        width: 100%;
        top: 0;
        padding: 0 2rem;
        display: flex;
        flex-direction: row;

        @media (orientation: portrait) {
            padding: 0 1rem;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
        }

        div:nth-child(1),
        div:nth-child(2) {
            position: relative;
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;

            @media (orientation: portrait) {
                width: 100%;
                height: auto;
            }
        }

        div:nth-child(1) {
            align-items: flex-start;
            padding-right: 1rem;
            @media (orientation: portrait) {
                //align-items: center;
                padding-right: unset;
            }
        }

        div:nth-child(2) {
            align-items: flex-end;
            padding-left: 1rem;
            @media (orientation: portrait) {
                align-items: center;
                padding-left: unset;
            }
        }

        .ps__heading {
            h1 {
                font-size: 5.2rem;
                font-weight: 600 !important;

                @media (orientation: portrait) {
                    font-size: 3.6rem;
                }
            }

            p {
                margin-top: -0.75rem;
            }

            .clip-text {
                display: inline-block;
                white-space: nowrap;
                will-change: transform;
                will-change: filter;
            }

            .clip-text .word {
                display: inline-block;
                white-space: nowrap;
                word-break: keep-all;
                font-variant-ligatures: none;

            }
        }

        .ps__img,
        .ps__img-first {
            width: 100%;
            will-change: transform;
            will-change: filter;
        }

    }
}

.scrollAnim {
    width: 100%;
    height: 3.5vw;
    bottom: 5%;
    margin-bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;

    @media (orientation: portrait) {
        height: 7vw;
    }

    span {
        width: 3.5vw;
        height: 3.5vw;

        @media (orientation: portrait) {
            width: 7vw;
            height: 7vw;
        }

        svg {
            fill: var(--black);
        }
    }

    p {
        font-size: x-small;
    }
}

.showWork {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background: var(--bgColor);
    z-index: 20;
    visibility: hidden;

    @media (orientation: portrait) {
        padding: 20vh 1rem;
        flex-direction: column;
        overflow-y: auto !important;
    }

    &-firstCol,
    &-secondCol {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 1rem;

        @media (orientation: portrait) {
            width: 100%;
            height: auto;
        }
    }

    &-firstCol {
        margin: 0 auto 0 2rem;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;

        @media (orientation: portrait) {
            margin: 0;
            padding-bottom: 2.5rem;
        }

        h1 {
            font-size: 5.2rem;
            font-weight: 600 !important;
            @media (orientation: portrait) {
                font-size: 3.6rem;
            }
        }

        p {
            display: flex;
            flex-direction: column;

            @media (orientation: portrait) {
                font-size: 0.75rem;
                flex-direction: row;

                span+span::before {
                    font-weight: 800;
                    content: "\00a0|\00a0";
                }

            }

            span {
                font-weight: normal;
                display: inline-flex;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }

    &-secondCol {
        min-height: 100%;
        top: 0;
        bottom: 0;
        margin: 0;
        padding: 25vh 2rem 25vh 0;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2.5rem;
        overflow-y: auto !important;

        @media (orientation: portrait) {
            min-height: unset;
            top: unset;
            bottom: unset;
            padding: unset;
            overflow-y: unset !important;
        }

        h3,
        p {
            @include word-wrap-hyp();
        }

        img {
            width: 100%;
        }
    }

    &-img {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        figure {
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;

            @media (orientation: portrait) {
                margin: 0;
                padding: 0;
            }

            img {
                width: 100%;
                height: auto;
                transition: transform 0.4s cubic-bezier(0.6, -1, 0.4, 2);

                &:hover {
                    transform: scale(1.025);
                    transition: transform 0.4s cubic-bezier(0.6, -1, 0.4, 2);
                    //cursor: pointer;
                }
            }

        }

        figcaption {
            width: 90%;
            margin: 0.5rem auto auto auto;
            padding: 0 auto;
            background-color: var(--bgColorHalf);
            @include font-mono();
            color: var(--black);
            font-size: 0.75rem;
            line-height: normal;
            text-align: center;
        }
    }
}

#main__section-about {
    section {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        .firstDIV,
        .secondDIV {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;

            @media (orientation: portrait) {
                width: 100%;
            }
        }

        .firstDIV {
            margin: 0 0 0 2rem;
            justify-content: center;
            align-items: flex-start;

            @media (orientation: portrait) {
                display: none;
            }
        }

        .secondDIV {
            position: relative;
            min-height: 100%;
            top: 0;
            bottom: 0;
            margin: 0;
            padding: 25vh 2rem 0 0;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-y: auto !important;

            @media (orientation: portrait) {
                padding: 20vh 1rem;
            }
        }

        .contentTitle {
            font-size: 5.2rem;
            font-weight: 600 !important;
            letter-spacing: -0.3rem;
            padding-right: 0.2rem;
        }

        .contentTitle-active {
            color: var(--black) !important;
        }

        .contentDetails {
            margin-bottom: 10vh;

            img {
                width: 100%;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-weight: 800;
                letter-spacing: -0.1rem;
                margin: 1rem 0;
            }

            p {
                @include font-mono();
                @include word-wrap-hyp();
                //padding-left: 1rem;
                //border-left: 0.25rem solid var(--black);
            }

            &:last-child {
                margin-bottom: 15vh;
            }

        }

    }
}